<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form>
      <h2>Short Url</h2>
      <label for="longurl">Enter Long Url</label>
      <input type="url" name="longurl" id="longurl" required />

      <button>Short</button>

      <div id="result"></div>
    </form>

    <script>
      const form = document.querySelector("form");
      const inputFild = document.getElementById("longurl");
      const result = document.getElementById("result");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const longurl = inputFild.value;
        result.innerHTML = "";

        try {
          const res = await fetch("/short", {
            method: "POST",
            body: JSON.stringify({ longurl }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          console.log(data);
          if (data.error) {
            result.innerHTML = data.error;
          } else {
            result.innerHTML = `<input type="text" name="" id="shortUrl" value="${data.url}"/>  <button onclick="copyFunc()" >Copy to clipbord</button>`;
          }
        } catch (error) {
          console.log(error);
        }
      });

      function copyFunc() {
        var copyText = document.getElementById("shortUrl");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
      }
    </script>
  </body>
</html>
